.maalogo {
    position: fixed;
    top: 5rem;
    left: 8rem;
    width: 8rem;
    height: 8rem;
    z-index: 100000000;
    overflow: hidden;
}

.maalogo img {
    position: relative;
    top: 100%;
    height: 100%;
}

.mline-icon {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    top: 5rem;
    right: 8rem;
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    z-index: 100000000;
}

.mline-icon-text {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    width: 8rem;
    height: 8rem;
    flex-shrink: 0;
    overflow: hidden;
}

.mline-icon-text p {
    position: relative;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.5s ease;
    flex-shrink: 0;
    top: 100%;
}

.mline-icon-text p:nth-child(1) {
    font-size: 5rem;
    font-family: ch;
}

.mline-icon-text p:nth-child(2) {
    font-size: 4rem;
    font-family: eng;
}

.mline-icon:hover p {
    transform: translateY(-100%);
}

.mline-icon svg {
    position: absolute;
    height: 8rem;
    flex-shrink: 0;
    transform: rotate(30deg);
}

.micon-svg-ball {
    fill: var(--t-red);
    opacity: 0;
}

.micon-svg-ringup {
    fill: none;
    stroke: white;
    stroke-width: 3.5;
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
}

.micon-svg-ringdown {
    fill: none;
    stroke: white;
    stroke-width: 3.5;
    stroke-dasharray: 700;
    stroke-dashoffset: -700;
}

.mline-text {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    right: 8rem;
    z-index: 1000;
}

.mline-text-tbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 7rem;
    height: 2rem;
    margin: 0 0 3rem 0;
    overflow: hidden;
    cursor: pointer;
}

.mline-text-tbox p {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 7rem;
    height: 2rem;
    flex-shrink: 0;
    transition: 0.3s ease;
    top: 100%;
}

.mline-text-tbox p:nth-child(1) {
    font-size: 2rem;
    letter-spacing: 0.05rem;
    font-family: eng;
    color: var(--t-red);
}

.mline-text-tbox p:nth-child(2) {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-family: ch;
    color: white;
}

.mline-text-tbox:hover p {
    transform: translateY(-100%);
}

.mline-scrollline {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    right: 11rem;
    bottom: 0;
    opacity: 0;
}

.mline-scrollline-text {
    writing-mode: vertical-lr;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-family: eng;
    color: white;
    margin: 0 0 0.8rem 0;
}

.mline-scrollline-line {
    height: 5rem;
    fill: none;
    stroke: #fff;
    stroke-width: 10;
    stroke-dashoffset: 170;
    stroke-dasharray: 170;
    animation: mline-scroll 2s linear infinite;
}

@keyframes mline-scroll {
    40% {
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dashoffset: 0;
    }

    80% {
        stroke-dashoffset: -170;
    }

    100% {
        stroke-dashoffset: -170;
    }
}

.mouseicon {
    position: fixed;
    flex-direction: column;
    justify-content: start;
    border-radius: 100%;
    border: 0.1rem white solid;
    width: 2rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    z-index: 600;
    display: none;
}

@keyframes mcion-anim0 {
    100% {
        width: 10rem;
        height: 10rem;
        border: 0 white solid;
        background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes mcion-anim1 {
    0% {
        width: 10rem;
        height: 10rem;
        border: 0 white solid;
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        border: 0.1rem white solid;
        width: 2rem;
        height: 2rem;
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.mouseicon p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    font-size: 3.5rem;
    font-family: eng;
    color: white;
    opacity: 0;
}

.click_ring {
    position: absolute;
    width: 0rem;
    fill: none;
    stroke: white;
}

@keyframes micon-ring-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes mosuescale2 {
    100% {
        opacity: 1;
    }
}

@keyframes mosuescale2-back {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.click_ring path {
    stroke-width: 6;
}

.click_ring circle {
    stroke-width: 3;
}

#feettext {
    position: fixed;
    bottom: -1%;
    left: 0;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin: 0 0 3rem 3rem;
    z-index: 300;
    opacity: 0;
}

#feettext div {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    overflow: hidden;
    flex-shrink: 0;
}

#feettext div p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-shrink: 0;
    /* transform: translateY(-100%); */
}

.ft-tbox0 {
    height: 4.5rem;
}

.ft-tbox0 p:nth-child(1) {
    font-family: eng;
    color: rgba(255, 255, 255, 0);
    font-size: 5rem;
    -webkit-text-stroke: 0.15rem white;
}

.ft-tbox0 p:nth-child(2) {
    font-family: ch;
    color: white;
    font-size: 3.5rem;
}

.ft-tbox1 {
    height: 4rem;
}

.ft-tbox1 p:nth-child(1) {
    font-family: eng;
    color: white;
    font-size: 4rem;
}

.ft-tbox1 p:nth-child(2) {
    font-family: ch;
    color: white;
    font-size: 3rem;
}

.ft-tbox2 {
    height: 3rem;
}

.ft-tbox2 p:nth-child(1) {
    font-family: eng;
    color: red;
    font-size: 3rem;
}

.ft-tbox2 p:nth-child(2) {
    font-family: ch;
    color: red;
    font-size: 2rem;
}

#homepage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* display: none; */
}

.hp-m-judge {
    position: absolute;
    width: 38rem;
    height: 38rem;
    cursor: pointer;
    z-index: 1000;
}

.hp-text {
    position: fixed;
    flex-direction: column;
    transition: 0.8s ease;
}

.hp-text > div {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.hp-text-up {
    height: 6.5rem;
}

.hp-text-up p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.5rem;
    flex-shrink: 0;
    transform: translateY(100%);
    transition: 0.8s ease;
}

.hp-text-up p:nth-child(1) {
    font-size: 7rem;
    font-family: eng;
    color: white;
}

.hp-text-up p:nth-child(3) {
    font-size: 6.5rem;
    font-family: ch;
    color: var(--t-yellow);
}

.hp-text-up > div {
    height: 6.5rem;
    font-size: 7rem;
    font-family: eng;
    color: var(--t-yellow);
    flex-shrink: 0;
    transition: 0.8s ease;
}

.hp-text-up > div div {
    width: 17rem;
    height: 6.5rem;
    justify-content: flex-start;
    font-size: 7rem;
    color: white;
    overflow: hidden;
    transition: 0.5s ease;
}

.hp-text-down {
    height: 3.5rem;
}

.hp-text-down p {
    position: relative;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--t-yellow);
    flex-shrink: 0;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.hp-text-down p:nth-child(1) {
    height: 3.5rem;
    font-size: 3.5rem;
    font-family: eng;
}

.hp-text-down p:nth-child(2) {
    height: 3.5rem;
    font-size: 3.5rem;
    font-family: ch;
}

.hp-cloud {
    position: fixed;
    width: 30rem;
    height: 30rem;
}

.hp-cloud svg:nth-child(1) {
    position: absolute;
    width: 15rem;
    left: -20%;
    top: 15%;
    fill: rgba(255, 255, 255, 0);
    stroke: white;
    stroke-width: 5;
    stroke-dasharray: 2500;
    stroke-dashoffset: 2500;
    filter: blur(0rem);
}

.hp-cloud svg:nth-child(2) {
    position: absolute;
    width: 18rem;
    right: -30%;
    bottom: 5%;
    fill: rgba(255, 255, 255, 0);
    stroke: white;
    stroke-width: 5;
    stroke-dasharray: 5200;
    stroke-dashoffset: 5200;
    filter: blur(0rem);
}

@keyframes cloud_mov1 {
    0% {
        transform: translate(0%, 0%);
    }

    25% {
        transform: translate(5%, 5%);
    }

    50% {
        transform: translate(0%, 2%);
    }

    75% {
        transform: translate(-2%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes cloud_mov2 {
    0% {
        transform: translate(0%, 0%);
    }

    25% {
        transform: translate(-6%, -6%);
    }

    50% {
        transform: translate(-7%, -4%);
    }

    75% {
        transform: translate(-4%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

.hp-sun {
    position: fixed;
}

.hp-sun svg {
    width: 36rem;
    overflow: visible;
}

.hp-sun svg circle {
    transform-origin: center center;
}

.hp-sun-in {
    fill: var(--t-red);
    opacity: 0;
    transform: scale(0.8);
}

.hp-sun-middle {
    fill: black;
    opacity: 0.4;
    opacity: 0;
    transform: scale(0.7);
}

.hp-sun-out {
    fill: var(--t-red);
    opacity: 0.5;
    opacity: 0;
}

.hp-sun-edge {
    fill: white;
    opacity: 0.05;
    opacity: 0;
}

.hp-cloudline {
    position: fixed;
    width: 60rem;
    height: 28rem;
}

.hp-cloudline svg {
    position: absolute;
    fill: none;
    stroke: var(--t-yellow);
    stroke-width: 1.5;
    opacity: 0.8;
    opacity: 0;
}

.hp-cloudline svg:nth-child(1) {
    left: 0;
    bottom: -5%;
    width: 18rem;
    stroke-dashoffset: 500;
    stroke-dasharray: 1000;
    animation: cloudline-change 15s linear infinite;
}

.hp-cloudline svg:nth-child(2) {
    right: 2%;
    top: 15%;
    width: 18rem;
    stroke-dashoffset: 500;
    stroke-dasharray: 1000;
    animation: cloudline-change 15s linear infinite;
}

.hp-cloudline svg:nth-child(3) {
    left: 5%;
    top: -5%;
    width: 15rem;
    stroke-dashoffset: 500;
    stroke-dasharray: 1000;
    animation: cloudline-change 15s linear infinite;
}

@keyframes cloudline-change {
    100% {
        stroke-dasharray: 500;
        stroke-dashoffset: 1000;
    }
}

.hp-backg {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hp-backg img {
    width: 100%;
    opacity: 0.15;
    opacity: 0;
}

#teampage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: none;
}

.tp-text {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
}

.tp-text div {
    width: 51rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    overflow: hidden;
}

.tp-text div p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--t-red);
    flex-shrink: 0;
    transform: translateY(100%);
}

.tp-text-up {
    height: 12.5rem;
    margin: 0 0 -2rem 0;
}

.tp-text-up p {
    height: 12.5rem;
    transition: 0.5s ease;
}

.tp-text-up p:nth-child(1) {
    font-size: 15rem;
    font-family: eng;
}

.tp-text-up p:nth-child(2) {
    font-size: 10rem;
    letter-spacing: -1rem;
    font-family: ch;
}

.tp-text-down {
    height: 22rem;
}

.tp-text-down p {
    height: 22rem;
    transition: 0.5s ease 0.2s;
}

.tp-text-down p:nth-child(1) {
    font-size: 26rem;
    font-family: eng;
}

.tp-text-down p:nth-child(2) {
    font-size: 22rem;
    font-family: ch;
    letter-spacing: -2rem;
}

.tp-card-box {
    position: absolute;
    width: 40rem;
    height: 40rem;
    align-items: flex-end;
}

.tp-card-box img {
    width: 28rem;
    transform: translateY(50%);
    opacity: 0;
}

.tp-cardall {
    position: absolute;
    width: 50rem;
    height: 40rem;
    perspective: 40rem;
    cursor: pointer;
    z-index: 1000;
}

.membercard {
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    width: 7rem;
    height: 10rem;
    border-radius: 0.1rem;
    background-color: white;
    cursor: pointer;
}

.membercard:hover .membercard-img-Mask {
    opacity: 0;
}

.membercard-img {
    position: relative;
    margin: 0.2rem 0 0 0;
    width: 95%;
    height: 60%;
    background-color: black;
    flex-shrink: 0;
}

.membercard-img-show {
    position: absolute;
    width: 100%;
    height: 100%;
}

.membercard-img-Mask {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 5rem;
    font-family: monospace;
    font-weight: 900;
    color: var(--t-yellow);
    transition: 0.5s ease;
}

.membercard-text {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    width: 95%;
    height: 33%;
    margin: 0 0 0.2rem 0;
    flex-shrink: 0;
}

.membercard-text-bottom {
    position: absolute;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.membercard-text-bottom img {
    width: 100%;
}

.membercard-text-name {
    position: absolute;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    top: 10%;
}

.membercard-text-name p:nth-child(1) {
    font-size: 1.5rem;
    color: black;
    font-family: ch;
}

.membercard-text-name p:nth-child(2) {
    font-size: 0.5rem;
    font-family: eng;
    writing-mode: vertical-lr;
    color: var(--t-red);
    transform: scale(0.8);
}

.tp-cardall .membercard:nth-child(1) {
    top: 0;
    left: 85%;
    transform: rotateY(-20deg) rotateX(30deg) rotate(30deg);
}

.tp-cardall .membercard:nth-child(2) {
    top: 10%;
    left: 0;
    transform: rotateY(20deg) rotateX(40deg) rotate(-20deg);
}

.tp-cardall .membercard:nth-child(3) {
    top: 0%;
    left: 60%;
    transform: rotateZ(20deg) rotateY(20deg) rotateX(-10deg) rotate(40deg);
}

.tp-cardall .membercard:nth-child(4) {
    top: 30%;
    left: 30%;
    transform: rotateZ(-10deg) rotateY(-20deg) rotateX(-10deg) rotate(-40deg);
}

.tp-cardall .membercard:nth-child(5) {
    top: 50%;
    left: 50%;
    transform: rotateZ(50deg) rotateY(40deg) rotateX(-10deg) rotate(-40deg);
}

.tp-cardall .membercard:nth-child(6) {
    top: 40%;
    left: 10%;
    transform: rotateZ(20deg) rotateY(10deg) rotateX(-20deg) rotate(-60deg);
}

.tp-cardall .membercard:nth-child(7) {
    top: 35%;
    left: 70%;
    transform: rotateZ(20deg) rotateY(20deg) rotateX(20deg) rotate(30deg);
}

.tp-cardall .membercard:nth-child(8) {
    top: 0%;
    left: 30%;
    transform: rotateZ(-20deg) rotateY(30deg) rotateX(30deg) rotate(-10deg);
}

#m-card:hover {
    transform: scale(1.5);
}

.tp-back {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.tp-back img {
    width: 100%;
    opacity: 0;
}

#handbookpage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: none;
}

.hbp-m-judge {
    position: absolute;
    width: 38rem;
    height: 20rem;
    cursor: pointer;
    z-index: 1000;
}

.hbp-text {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
}

.hbp-text div {
    width: 42rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    overflow: hidden;
}

.hbp-text div p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.hbp-text-up {
    height: 6rem;
}

.hbp-text-up p {
    height: 6.5rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.hbp-text-up p:nth-child(1) {
    font-size: 6.5rem;
    font-family: eng;
    color: white;
}

.hbp-text-up p:nth-child(2) {
    font-size: 4rem;
    letter-spacing: 1.5rem;
    font-family: ch;
    color: white;
}

.hbp-text-down {
    height: 12rem;
}

.hbp-text-down p {
    height: 12rem;
    transform: translateY(100%);
    transition: 0.5s ease 0.2s;
}

.hbp-text-down p:nth-child(1) {
    font-size: 14.5rem;
    font-family: eng;
    color: var(--t-yellow);
}

.hbp-text-down p:nth-child(2) {
    font-size: 11rem;
    letter-spacing: -1rem;
    font-family: ch;
    color: var(--t-yellow);
}

#hbp-animatebox {
    position: absolute;
    transform: scale(0.4);
}

#hbp-animatebox-canvas {
    position: absolute;
    bottom: -20%;
    opacity: 0;
}

#hbp-animatebox_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hbp-background {
    position: absolute;
    width: 120%;
    height: 100%;
    flex-direction: column;
    opacity: 0.3;
    transition: 2s ease;
}

.hbp-background > div {
    justify-content: center;
    width: 100%;
    height: 25%;
    margin: 0 0 2rem 0;
    flex-shrink: 0;
}

.hbp-background-imgbox {
    width: 20%;
    height: 100%;
    overflow: hidden;
    margin: 0 2rem 0 0;
    flex-shrink: 0;
}

.hbp-background-imgbox img {
    position: relative;
    width: 100%;
    transform: translateY(100%);
    background-color: white;
}

#joinpage {
    position: absolute;
    width: 100%;
    height: 100vh;
    /* z-index: 8000; */
    overflow: hidden;
    display: none;
}

.jp-back {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.jp-back img {
    width: 100%;
    opacity: 0.3;
    opacity: 0;
}

.jp-text {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateY(20%);
    text-decoration: none;
    cursor: pointer;
    z-index: 1000;
}

.jp-text div {
    width: 32rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    overflow: hidden;
}

.jp-text div p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;
    transform: translateY(100%);
}

.jp-text:hover p {
    transform: translateY(100%);
}

.jp-text-up {
    height: 8.5rem;
}

.jp-text-up p {
    height: 8.5rem;
    transition: 0.5s ease;
}

.jp-text-up p:nth-child(1) {
    font-size: 10rem;
    font-family: eng;
    color: white;
}

.jp-text-up p:nth-child(2) {
    font-size: 8rem;
    letter-spacing: -1.5rem;
    font-family: ch;
}

.jp-text-down {
    height: 8.5rem;
}

.jp-text-down p {
    height: 8.5rem;
    transition: 0.5s ease 0.2s;
}

.jp-text-down p:nth-child(1) {
    font-size: 10rem;
    font-family: eng;
    letter-spacing: 0.3rem;
}

.jp-text-down p:nth-child(2) {
    font-size: 8rem;
    letter-spacing: -1.5rem;
    font-family: ch;
}

#jp-animatebox {
    position: absolute;
    width: 1920px;
    height: 1200px;
    transform: scale(0.9);
    bottom: 15%;
}

#jp-animatebox-canvas {
    position: absolute;
}

#jp-animatebox_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}